<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
            <%if (locals.parameter) { %>
                <div class="alert alert-error">
                    <strong>Creado!</strong> <%= locals.parameter %>
                </div>
            <% } %>
        <div class="form-group">
            <form action="/parameter" method="POST">
                <label>Parámetro</label>
                <input type="text" name="parameter" class="form-control" placeholder="Ingrese parámetro">
                <br>
                <input type="submit" name="" value="Enviar" class="btn btn-info">
            </form>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>